.rdt_TableCell {
    font-size: 1em;
    cursor:pointer;
}
/* .rdt_TableCell:hover {
    background-color: rgb(152, 204, 248);
    border-radius: 4px;
} */
.rdt_TableHeader {
    font-size:1em;
}
.rdt_Table{
}