<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
	  xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
	<targets xsi:type="ColoredConsole"
			 name="CLogs"
			 layout="[${date:format=MM-dd-yyyy HH\:mm\:ss}] - [${logger}:${level}] ${message}">
		<highlight-row codition="level &gt;= LogLevel.Error" foregroundColor="White" backgroundColor="Red"/>
	</targets>
	<rules>
		<logger name="*" />
	</rules>
</nlog>